streamlit==1.26.0
langchain==0.0.281
faiss-cpu==1.7.4
transformers==4.33.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cpu
torchvision==0.14.1+cpu
sentence-transformers==2.2.2
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
accelerate==0.23.0
werkzeug==2.3.7
